#main{
    height: 45vh;
    /* width:100vw; */
    background-color: #000000;
    margin-top: -20px;
}
nav{
    padding: 10px;
}
body{
    background-color: #FFC20E;
}

#nav_points{
    color: white;
    font-family: "DM Sans";
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#nav_points button{
    display: flex;
    float: right;
    background-color:#FFC20E;
    padding: 10px;
    font-weight: 900;
    font-size: large;
    padding-right: 30px;
    color: white;
    border: none;
    font-family: "DM Sans";
}

#nabin{
    display: flex;
    justify-content:center;
    font-family: "DM Sans";
    color:#FFC20E;
    font-style: normal;
    font-weight: 900;
    margin-right: 40px;
}

.tagline{
    display:flex;
    justify-content: center;
    color: white;
    font: 400;
    font-family: "DM Sans";
    margin-right: 40px;
}

.intro{
    display: block;
    margin: auto;
    color: white;
    font-family: "DM Sans";
    font-size: large;
    background-color: #000000;
    border-color: white;
    /* height: 40px; */
    width:fit-content;
    padding: 10px;
}

.intro:hover{
background-color: white;
color: #000000;
border-color: white;
}

#nav_points li:hover{
    color: #FFC20E;
}